$appDefaultColor:#000000;
$grid1Color:#2B8EAD;
$grid2Color:#333333;
$grid3Color:#6F98A8;
$grid4Color:#FFFFFF;
$grid5Color:#BFBFBF;
$grid6Color:#EFEFEF;
$grid7Color:#2F454E;
$grid8Color:#72C3DC;
$defaultTextColor:#FFF;